---
layout: page
title: Lead-Developer Web
subtitle: Phalcon - Laravel - VueJS - Tailwind CSS - GitHub
eleventyNavigation:
  key: Accueil
---

<div class="flex mt-10">
  <div class="flex mx-auto space-y-1">
    <div class="bg-gradient-to-r from-cyan-400 to-fuchsia-600 rounded-full p-1">
      <a class="block bg-white p-1 rounded-full">
        <img class="w-40" src="{{ '/assets/images/me.png' | url }}" alt="">
      </a>
    </div>
  </div>
</div>

<section class="text-gray-600 body-font py-5">
  <div class="container px-5 py-5 mx-auto">
    <div class="text-center mb-20">
      <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">Explore les nouvelles technologies, langages et frameworks afin de vous proposer les solutions les plus modernes.</p>
      <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-10 h-10">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10l-2 1m0 0l-2-1m2 1v2.5M20 7l-2 1m2-1l-2-1m2 1v2.5M14 4l-2-1-2 1M4 7l2-1M4 7l2 1M4 7v2.5M12 21l-2-1m2 1l2-1m-2 1v-2.5M6 18l-2-1v-2.5M18 18l2-1v-2.5" />
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Blogueur</h2>
          <p class="leading-relaxed text-base">Partage de connaissances, tutoriels détaillés, présentation de services pratiques sur le média Les Enovateurs.</p>
          <a class="mt-3 text-indigo-500 inline-flex items-center" href='https://les-enovateurs.com'>En savoir plus
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-10 h-10">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Entrepreneur</h2>
          <p class="leading-relaxed text-base">
            Créateur de services modernes comme <a href='https://garwen.fr/' class='text-indigo-500'>Garwen</a> (pour augmenter la durée de vie de vos objets)
            et <a class='text-indigo-500' href='https://unlock-my-data.com/'>Unlock My Data</a> (pour protéger vos données personnelles).
          </p>
          <a class="mt-3 text-indigo-500 inline-flex items-center" href='https://garwen.fr/'>En savoir plus
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-10 h-10">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Auteur</h2>
          <p class="leading-relaxed text-base">Réalisation complète d'un livre sur Phalcon publié aux Editions ENI. Cet ouvrage permet aux juniors comme aux développeurs expérimentés de prendre en main ce framework.</p>
          <a class="mt-3 text-indigo-500 inline-flex items-center" href='https://www.editions-eni.fr/livre/phalcon-3-developpez-des-applications-web-complexes-et-performantes-en-php-9782409022746?utm_source=e-novateurs&utm_medium=affiliation&utm_campaign=2020-01-16-JPASTOURET&xtor=AL-3910-[JPASTOURET]'>En savoir plus
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='bg-gray-100 w-full h-2/3 overflow-hidden absolute left-0'>
<!--  <div class='w-full mx-auto flex flex-wrap'>-->
  <div class='w-full mx-auto flex flex-wrap transform -rotate-35 skew-x-2 scale-150'>
    <div class='p-1 mx-6'>
      <div class='z-10 flex p-2 items-center flex-col h-44 w-96 rounded-md shadow-md my-4 transform duration-200 move-item'>
        <img class='rounded-md w-full h-full object-cover' src='{{ '/assets/images/enov2.png' | url }}'/>
      </div>
    </div>
    <div class='p-1 mx-6'>
      <div class='z-20 flex p-2 items-center flex-col h-44 w-96 rounded-md shadow-md my-4 transform duration-200 move-item'>
        <img class='rounded-md w-full h-full object-cover' src='{{ '/assets/images/enov2.png' | url }}'/>
      </div>
    </div>
    <div class='p-1 mx-6'>
      <div class='z-20 flex p-2 items-center flex-col h-44 w-96 rounded-md shadow-md my-4 transform duration-200 move-item'>
        <img class='rounded-md w-full h-full object-cover' src='{{ '/assets/images/enov2.png' | url }}'/>
      </div>
    </div>
    <div class='p-1 mx-6'>
      <div class='z-20 flex p-2 items-center flex-col h-44 w-96 rounded-md shadow-md my-4 transform duration-200 move-item'>
        <img class='rounded-md w-full h-full object-cover' src='{{ '/assets/images/garwen.png' | url }}'/>
      </div>
    </div>
    <div class='p-1 mx-6'>
      <div class='z-20 flex p-2 items-center flex-col h-44 w-96 rounded-md shadow-md my-4 transform duration-200 move-item'>
        <img class='rounded-md w-full h-full object-cover' src='{{ '/assets/images/garwen.png' | url }}'/>
      </div>
    </div>
    <div class='p-1 mx-6'>
      <div class='z-20 flex p-2 items-center flex-col h-44 w-96 rounded-md shadow-md my-4 transform duration-200 move-item'>
        <img class='rounded-md w-full h-full object-cover' src='{{ '/assets/images/garwen2.png' | url }}'/>
      </div>
    </div>
    <div class='p-1 mx-6'>
      <div class='z-20 flex p-2 items-center flex-col h-44 w-96 rounded-md shadow-md my-4 transform duration-200 move-item'>
        <img class='rounded-md w-full h-full object-cover' src='{{ '/assets/images/unlock.png' | url }}'/>
      </div>
    </div>
    <div class='p-1 mx-6'>
      <div class='z-20 flex p-2 items-center flex-col h-44 w-96 rounded-md shadow-md my-4 transform duration-200 move-item'>
        <img class='rounded-md w-full h-full object-cover' src='{{ '/assets/images/unlock.png' | url }}'/>
      </div>
    </div>
    <div class='p-1 mx-6'>
      <div class='z-20 flex p-2 items-center flex-col h-44 w-96 rounded-md shadow-md my-4 transform duration-200 move-item'>
        <img class='rounded-md w-full h-full object-cover' src='{{ '/assets/images/unlock2.jpg' | url }}'/>
      </div>
    </div>
    <div class='p-1 mx-6'>
      <div class='z-20 flex p-2 items-center flex-col h-44 w-96 rounded-md shadow-md my-4 transform duration-200 move-item'>
        <img class='rounded-md w-full h-full object-cover' src='{{ '/assets/images/unlock2.jpg' | url }}'/>
      </div>
    </div>
    <div class='p-1 mx-6'>
      <div class='z-20 flex p-2 items-center flex-col h-44 w-96 rounded-md shadow-md my-4 transform duration-200 move-item'>
        <img class='rounded-md w-full h-full object-cover' src='{{ '/assets/images/enov.jpg' | url }}'/>
      </div>
    </div>
    <div class='p-1 mx-6'>
      <div class='z-20 flex p-2 items-center flex-col h-44 w-96 rounded-md shadow-md my-4 transform duration-200 move-item'>
        <img class='rounded-md w-full h-full object-cover' src='{{ '/assets/images/enov.jpg' | url }}'/>
      </div>
    </div>
    <div class='p-1 mx-6'>
      <div class='z-20 flex p-2 items-center flex-col h-44 w-96 rounded-md shadow-md my-4 transform duration-200 move-item'>
        <img class='rounded-md w-full h-full object-cover' src='{{ '/assets/images/enov.jpg' | url }}'/>
      </div>
    </div>
  </div>
</section>